EASYSCHOLAR_SECRET_KEY=
EASYSCHOLAR_API_URL=
RANK_PROXY_TOKEN=
RANK_CACHE_TTL_DAYS=180
RANK_CACHE_NEGATIVE_TTL_DAYS=7
EASYSCHOLAR_RATE_LIMIT_PER_SECOND=2
RANK_PROXY_DATABASE_URL=sqlite:///./data/rank_cache.sqlite3
RANK_BATCH_MAX_SIZE=100
